<!DOCTYPE html>
<html>
<head>
  <title>MailArchivist</title>
  <%= stylesheet_link_tag    "mail_archivist/application", media: "all" %>
  <%= javascript_include_tag "mail_archivist/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
